/*
!/.gitignore
!/README.md
!/PRIVACY.md
!/manifest.json
!/background.js
!/content.js
!/pump_bridge.js
!/panel.css
!/options.html
!/options.css
!/options.js
!/images/
/images/*
!/images/callmeout.png
!/images/icon16.png
!/images/icon32.png
!/images/icon48.png
!/images/icon128.png
!/images/axiom-preview.png
!/images/axiom-light-preview.png
!/images/gmgn-preview.png
!/images/padre-preview.png
