/*
!/.gitignore
!/README.md
!/pump_callout.py
!/phantom_login.py
!/test_pump_callout.py
!/extension/
/extension/*
!/extension/README.md
!/extension/manifest.json
!/extension/background.js
!/extension/content.js
!/extension/pump_bridge.js
!/extension/panel.css
!/extension/options.html
!/extension/options.css
!/extension/options.js
!/extension/test_background.cjs
!/extension/axiom-preview.png
!/extension/axiom-light-preview.png
!/extension/gmgn-preview.png
!/extension/padre-preview.png
!/extension/images/
/extension/images/*
!/extension/images/callmeout.png
